@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Sample start files for final project - for educational purposes
   Filename: base.css
   
   Name:Noah Wynn
   Term: Fall 2021

   This file contains the base styles used by all pages in the website

*/


/* =============================================
	HTML5 structural elements
   =============================================
*/

article, aside, details, dl, figcaption, figure, footer, header, main, nav, section {
	display: block;
}


/* =============================================
	Default colors, margins and sizing
   =============================================
*/

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
html, button, input, select, textarea {
	font-family: serif;
	color: #222;
}
body {
	margin: 0;
	font-size: 1em;
	line-height: 1.4;
}


/* =============================================
	Hypertext links
   =============================================
*/

a {
	color: #00e;
}
a:visited {
	color: #551a8b;
}
a:hover {
	color: #06e;
}
a:focus {
	outline: thin dotted;
}
a:hover, a:active {
	outline: 0;
}


/* =============================================
	Default font styles
   =============================================
*/

abbr[title] {
	border-bottom: 1px dotted;
}
b, strong {
	font-weight: bold;
}
blockquote {
	margin: 1em 40px;
}
dfn {
	font-style: italic;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
ins {
	background: #ff9;
	color: #000;
	text-decoration: none;
}
mark {
	background: #ff0;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
pre, code, kbd, samp {
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 1em;
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

small {
	font-size: 90%;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}


/* =============================================
	Default list styles
   =============================================
*/

ul, ol {
	margin: 1em 0;
	padding: 0 0 0 40px;
}
dd {
	margin: 0 0 0 40px;
}
nav ul > li, nav ol {
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;
	color: green;
}

li#main {
	padding-left: 20%;
	margin: 10px;
}

li#ind {
	padding-left: 30%;
	font-size: small;
}

li#month {
	text-align: center;
	font-style: italic;
	font-size: 80%;
	list-style-type: none;
}

li#price {
	text-align: center;
	font-weight: bold;
	font-size: 100%;
	list-style-type: none;
}




/* =============================================
	Default styles for images and media
   =============================================
*/

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}
figure {
	margin: 0;
}



/* =============================================
	Default styles for web forms
   =============================================
*/

div.formRow{
	width: 50%;
	display: flex;
	flex-flow: row wrap;
	margin: 6px 20px;
	border: none;
}

form {
	width: 100%;
	margin: 0;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
label {
	cursor: default;
}

textarea {
	height: 100px;
}
legend {
	border: 0;
	padding: 0;
	white-space: normal;
}
button, input, select, textarea {
	width: 100%;
	font-size: 100%;
	margin: 0;

}

button, input {
	line-height: normal;
}
button, input[type="cancel"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}
button[disabled], input[disabled] {
	cursor: default;
}
input[type="submit"], input[type="cancel"] {
	box-sizing: border-box;
	padding: 5px;
	margin: 10px;
	width: 30%;
	text-align: center;
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
-webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
border: 0;
padding: 0;
}
textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}



/* =============================================
	Default styles for web tables
   =============================================
*/

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 1px;
	margin: 20px 0px;
}
td, th {
	vertical-align: top;
	width: 15%;
	border: 1px solid green;
}

th {
	background-color: rgb(174, 194, 174);
}

td > li#month, td >li#price {
vertical-align: bottom;
}
